h1{
    text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(10, 228, 217, 0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
}
h2{
    letter-spacing: 2px;
    word-spacing: 4px;
}
h3{
    font-family: 'Fjalla One', sans-serif;
    color: rgb(0, 87, 218);
}
h4{
    font-family: 'Lobster', cursive;
}
h5{
    font-family: 'Indie Flower', cursive;
    color: white;
}
td,th {
    padding: 1.5em;
    border: 7px solid rgba(7, 154, 223, 0.2);
  }
